In [1]:
#for loop
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [4]:
for x in range(1,50,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [6]:
a="Renu"
for x in a:
    print(x)

R
e
n
u

In [3]:
a=input("Enter character:")
for x in a:
    print(x)

Enter character:Renu
R
e
n
u

In [9]:
#table of 5
for x in range(5,55,5):
    print(x)

5
10
15
20
25
30
35
40
45
50

In [4]:
#table by user input number
n=int(input("Enter number for table:"))
for x in range(n,n*11,n):
    print(x)

Enter number for table:3
3
6
9
12
15
18
21
24
27
30

In [24]:
#string
a="Rackonsit"
for x in a:
    print(x)

R
a
c
k
o
n
s
i
t

In [25]:
a="Rackonsit"
for x in a:
    print(x)
    a1=10
    b1=20
-    print("total",a1+b1)

R
total 30
a
total 30
c
total 30
k
total 30
o
total 30
n
total 30
s
total 30
i
total 30
t
total 30

In [26]:
#list
a=["karad","satara","pune","mumbai"]
for x in a:
    print(x)

karad
satara
pune
mumbai

In [29]:
a=["karad","satara","pune","mumbai"]
for x in a[1]:
    print(x)

s
a
t
a
r
a

In [38]:
a=["karad","satara","pune","mumbai"]
for x in a[1],a[2]:
    print(x)

satara
pune

In [40]:
a=["karad","satara","pune","mumbai"]
for x in a[1][3]:
    print(x)

a

In [1]:
a=["karad","satara","pune","mumbai"]
for x in a[1],a[2]:
    print(x)
    for x in a[1][3]:
        print(x)

satara
a
pune
a

In [2]:
#user input city name
a=input("city name:")
for x in a:
    print(x)

city name:karad
k
a
r
a
d

In [5]:
#by self
a=input("city name:")
b=input("city name:")
c=[a,b]
print(c)

city name:Karad
city name:Pune
['Karad', 'Pune']

In [6]:
a=input("city name:")
b=input("city name:")
c=[a,b]
print(c)
for x in a:
    print(x)

city name:karad
city name:pune
['karad', 'pune']
k
a
r
a
d

In [10]:
a=input("city name:")
b=input("city name:")
c=[a,b]
print(c)
for x in c:
    print(x)
    for y in x:
        print(y)

city name:karad
city name:pune
['karad', 'pune']
karad
k
a
r
a
d
pune
p
u
n
e

In [2]:
#star pattern
a="*"
for x in range(5):
    
    print(a)

*
*
*
*
*

In [1]:
for i in range(5):
    for j in range(5):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*